:root {
    --ds-spacing-2: 2px;
    --ds-spacing-4: 4px;
    --ds-spacing-6: 6px;
    --ds-spacing-8: 8px;
    --ds-spacing-12: 12px;
    --ds-spacing-16: 16px;
    --ds-spacing-20: 20px;
    --ds-spacing-24: 24px;
    --ds-spacing-32: 32px;
    --ds-spacing-40: 40px;
    --ds-spacing-44: 44px;
    --ds-spacing-48: 48px;
    --ds-spacing-64: 64px;

    --ds-size-control-input-lg: 56px;
    --ds-size-control-button-sm: 32px;
    --ds-size-control-button-md: 40px;
    --ds-size-control-button-xl: 56px;
    --ds-size-modal-md-width: 480px;
    --ds-size-modal-lg-width: 640px;
    --ds-size-modal-mobile: 393px;
    --ds-size-tooltip-width-max: 270px;

    --ds-rounding-primitive-0: 0px;
    --ds-rounding-primitive-4: 4px;
    --ds-rounding-primitive-6: 6px;
    --ds-rounding-primitive-8: 8px;
    --ds-rounding-primitive-10: 10px;
    --ds-rounding-primitive-12: 12px;
    --ds-rounding-primitive-16: 16px;
    --ds-rounding-primitive-20: 20px;
    --ds-rounding-primitive-24: 24px;
    --ds-rounding-primitive-32: 32px;
    --ds-rounding-primitive-max: 999px;

    --ds-typography-heading-h1-font-weight: 700;
    --ds-typography-heading-h1-font-size: 42px;
    --ds-typography-heading-h1-line-height: 42px;
    --ds-typography-heading-h1-letter-spacing: -2px;
    --ds-typography-heading-h2-font-weight: 700;
    --ds-typography-heading-h2-font-size: 36px;
    --ds-typography-heading-h2-line-height: 40px;
    --ds-typography-heading-h2-letter-spacing: -2px;
    --ds-typography-heading-h3-font-weight: 700;
    --ds-typography-heading-h3-font-size: 24px;
    --ds-typography-heading-h3-line-height: 28px;
    --ds-typography-heading-h3-letter-spacing: 0px;
    --ds-typography-heading-h4-font-weight: 700;
    --ds-typography-heading-h4-font-size: 20px;
    --ds-typography-heading-h4-line-height: 24px;
    --ds-typography-heading-h4-letter-spacing: 0px;
    --ds-typography-heading-font-family: "Manrope";
    --ds-typography-body-font-family: "Inter";
    --ds-typography-body-p1-regular-font-weight: 400;
    --ds-typography-body-p1-font-size: 16px;
    --ds-typography-body-p1-line-height: 20px;
    --ds-typography-body-p1-letter-spacing: 0px;
    --ds-typography-body-p2-font-size: 14px;
    --ds-typography-body-p2-line-height: 18px;
    --ds-typography-body-p2-letter-spacing: 0px;
    --ds-typography-body-p2-regular-font-weight: 400;
    --ds-typography-body-p2-medium-font-weight: 500;
    --ds-typography-body-p2-semibold-font-weight: 600;
    --ds-typography-body-p1-medium-font-weight: 500;
    --ds-typography-body-p1-semibold-font-weight: 600;
    --ds-typography-caption-s-regular-font-weight: 400;
    --ds-typography-caption-s-medium-font-weight: 500;
    --ds-typography-caption-s-semibold-font-weight: 600;
    --ds-typography-caption-s-font-size: 12px;
    --ds-typography-caption-s-line-height: 16px;
    --ds-typography-caption-s-letter-spacing: 0px;
    --ds-typography-caption-ss-font-weight: 600;
    --ds-typography-caption-ss-font-size: 10px;
    --ds-typography-caption-ss-line-height: 14px;
    --ds-typography-caption-font-family: "Inter";
    --ds-typography-caption-ss-letter-spacing: 0px;

    --ds-color-primitive-brand-700: #4E14CD;
    --ds-color-primitive-brand-600: #5B1AE9;
    --ds-color-primitive-brand-500: #6D2AFF;
    --ds-color-primitive-brand-400: #B392FD;
    --ds-color-primitive-brand-300: #6D2AFF7F;
    --ds-color-primitive-brand-200: #6D2AFF51;
    --ds-color-primitive-brand-150: #6D2AFF3D;
    --ds-color-primitive-brand-100: #6D2AFF1E;
    --ds-color-primitive-brand-50: #F4F1FF;
    --ds-color-primitive-grey-950: #000000;
    --ds-color-primitive-grey-900: #23262B;
    --ds-color-primitive-grey-800: #4B4D5D;
    --ds-color-primitive-grey-700: #6F7386;
    --ds-color-primitive-grey-600: #53575F99;
    --ds-color-primitive-grey-500: #53575F7F;
    --ds-color-primitive-grey-400: #53575F51;
    --ds-color-primitive-grey-300: #23262B3D;
    --ds-color-primitive-grey-200: #53575F3D;
    --ds-color-primitive-grey-100: #53575F28;
    --ds-color-primitive-light-600: #E4E7EC;
    --ds-color-primitive-light-500: #E4E7EC7F;
    --ds-color-primitive-light-400: #F2F2F7;
    --ds-color-primitive-light-450: #E4E7EC28;
    --ds-color-primitive-light-300: #F7F7F7;
    --ds-color-primitive-light-200: #FAFAFA;
    --ds-color-primitive-light-100: #FFFFFF;
    --ds-color-primitive-red-800: #FF260A;
    --ds-color-primitive-red-700: #FF4830;
    --ds-color-primitive-red-600: #FB7474;
    --ds-color-primitive-red-500: #FF483060;
    --ds-color-primitive-red-400: #FFBDC3;
    --ds-color-primitive-red-250: #FFD6DA;
    --ds-color-primitive-red-100: #FDE4E7;
    --ds-color-primitive-green-700: #5A9400;
    --ds-color-primitive-green-600: #6CB200;
    --ds-color-primitive-green-200: #6CB20051;
    --ds-color-primitive-green-100: #E1F4C4;
    --ds-color-primitive-blue-700: #7595FF;
    --ds-color-primitive-blue-600: #97AFFF;
    --ds-color-primitive-blue-200: #97AFFF7F;
    --ds-color-primitive-blue-100: #E5EEFF;
    --ds-color-primitive-alpha-white-80: #FFFFFFCC;
    --ds-color-primitive-alpha-white-64: #FFFFFFA3;
    --ds-color-primitive-alpha-white-32: #FFFFFF51;
    --ds-color-primitive-alpha-white-24: #FFFFFF3D;
    --ds-color-primitive-alpha-white-16: #FFFFFF28;
    --ds-color-primitive-alpha-white-8: #FFFFFF14;

    --ds-charts-650: #FF1F01;
    --ds-charts-600: #FF00D6;
    --ds-charts-550: #B726FF;
    --ds-charts-500: #4F00B3;
    --ds-charts-450: #0030FE;
    --ds-charts-400: #268AFF;
    --ds-charts-350: #00EFFF;
    --ds-charts-300: #00FF6B;
    --ds-charts-250: #ADD900;
    --ds-charts-200: #B2AD00;
    --ds-charts-150: #FFC300;
    --ds-charts-100: #FF9500;
    --ds-charts-50: #FF6B01;

    --ui-text-highlighted: #fff;
    --ui-bg: transparent;

    --ds-rounding-container-xxs: var(--ds-rounding-primitive-4);
    --ds-rounding-container-xs: var(--ds-rounding-primitive-8);
    --ds-rounding-container-md: var(--ds-rounding-primitive-12);
    --ds-rounding-container-lg: var(--ds-rounding-primitive-16);
    --ds-rounding-container-xl: var(--ds-rounding-primitive-20);
    --ds-rounding-container-2xl: var(--ds-rounding-primitive-24);
    --ds-rounding-container-3xl: var(--ds-rounding-primitive-32);
    --ds-rounding-modal-md: var(--ds-rounding-primitive-24);
    --ds-rounding-button-sm: var(--ds-rounding-primitive-max);
    --ds-rounding-button-md: var(--ds-rounding-primitive-max);
    --ds-rounding-button-xl: var(--ds-rounding-primitive-max);
    --ds-rounding-component-dropdown: var(--ds-rounding-primitive-20);
    --ds-rounding-component-input-xl: var(--ds-rounding-primitive-20);
    --ds-rounding-component-badge: var(--ds-rounding-primitive-max);
    --ds-rounding-component-tag: var(--ds-rounding-primitive-max);
    --ds-rounding-component-checkbox: var(--ds-rounding-primitive-4);
    --ds-rounding-component-radio: var(--ds-rounding-primitive-max);
    --ds-rounding-component-switch: var(--ds-rounding-primitive-max);
    --ds-rounding-component-tooltip: var(--ds-rounding-primitive-10);
    --ds-rounding-component-avatar: var(--ds-rounding-primitive-max);
    --ds-rounding-component-calendar-selector: var(--ds-rounding-primitive-12);

    --ds-color-brand-default: var(--ds-color-primitive-brand-500);
    --ds-color-brand-hover: var(--ds-color-primitive-brand-600);
    --ds-color-brand-active: var(--ds-color-primitive-brand-700);
    --ds-color-brand-light: var(--ds-color-primitive-brand-400);
    --ds-color-brand-accent-default: var(--ds-color-primitive-brand-100);
    --ds-color-brand-accent-hover: var(--ds-color-primitive-brand-150);
    --ds-color-brand-accent-active: var(--ds-color-primitive-brand-200);
    --ds-color-brand-accent-disabled: var(--ds-color-primitive-brand-50);
    --ds-color-control-primary-default: var(--ds-color-brand-default);
    --ds-color-control-accent-default: var(--ds-color-brand-accent-default);
    --ds-color-control-accent-hover: var(--ds-color-brand-accent-hover);
    --ds-color-control-accent-active: var(--ds-color-brand-accent-active);
    --ds-color-control-accent-focus: var(--ds-color-brand-accent-default);
    --ds-color-control-accent-focus-border: var(--ds-color-brand-accent-default);
    --ds-color-control-accent-disabled: var(--ds-color-brand-light);
    --ds-color-control-accent-elevate: var(--ds-color-fg-brand-primary);
    --ds-color-control-accent-border: var(--ds-color-border-white);
    --ds-color-control-primary-hover: var(--ds-color-brand-hover);
    --ds-color-control-primary-active: var(--ds-color-brand-active);
    --ds-color-control-primary-focus: var(--ds-color-brand-default);
    --ds-color-control-primary-focus-border: var(--ds-color-brand-default);
    --ds-color-control-primary-disabled: var(--ds-color-brand-light);
    --ds-color-control-primary-elevate: var(--ds-color-fg-brand-primary);
    --ds-color-control-secondary-default: var(--ds-color-primitive-light-100);
    --ds-color-control-secondary-hover: var(--ds-color-primitive-light-400);
    --ds-color-control-secondary-active: var(--ds-color-primitive-light-500);
    --ds-color-control-secondary-disabled: var(--ds-color-primitive-light-200);
    --ds-color-control-secondary-elevate: var(--ds-color-fg-primary);
    --ds-color-control-secondary-border: var(--ds-color-border-tertiary);
    --ds-color-control-input-default: var(--ds-color-primitive-alpha-white-16);
    --ds-color-control-input-hover: var(--ds-color-primitive-light-400);
    --ds-color-control-input-focus-border: var(--ds-color-brand-default);
    --ds-color-control-input-disabled: var(--ds-color-primitive-light-200);
    --ds-color-control-input-elevate: var(--ds-color-fg-secondary);
    --ds-color-control-input-elevate-active: var(--ds-color-fg-primary);
    --ds-color-control-input-elevate-filled: var(--ds-color-fg-primary);
    --ds-color-control-input-border: var(--ds-color-border-tertiary);
    --ds-color-border-primary: var(--ds-color-primitive-light-500);
    --ds-color-border-secondary: var(--ds-color-primitive-light-600);
    --ds-color-border-tertiary: var(--ds-color-primitive-grey-100);
    --ds-color-border-quaternary: var(--ds-color-primitive-grey-300);
    --ds-color-border-white: var(--ds-color-primitive-light-100);
    --ds-color-border-brand: var(--ds-color-brand-default);
    --ds-color-border-brand-light: var(--ds-color-brand-light);
    --ds-color-fg-primary: var(--ds-color-primitive-grey-900);
    --ds-color-fg-primary-hover: var(--ds-color-primitive-grey-950);
    --ds-color-fg-secondary: var(--ds-color-primitive-grey-600);
    --ds-color-fg-secondary-hover: var(--ds-color-primitive-grey-900);
    --ds-color-fg-tertiary: var(--ds-color-primitive-grey-700);
    --ds-color-fg-tertiary-hover: var(--ds-color-primitive-grey-800);
    --ds-color-fg-quaternary: var(--ds-color-primitive-grey-500);
    --ds-color-fg-pale: var(--ds-color-primitive-grey-400);
    --ds-color-fg-brand-primary: var(--ds-color-primitive-light-100);
    --ds-color-bg-primary: var(--ds-color-primitive-light-200);
    --ds-color-bg-secondary: var(--ds-color-primitive-light-300);
    --ds-color-bg-tertiary: var(--ds-color-primitive-light-400);
    --ds-color-bg-quaternary: var(--ds-color-primitive-light-500);
    --ds-color-bg-dark: var(--ds-color-primitive-light-600);
    --ds-color-bg-elevated: var(--ds-color-primitive-light-100);
    --ds-color-bg-scrim: #23262B3D;

    /* Shadow tokens */
    --ds-shadow-custom-sm: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
    --ds-shadow-custom-md: 0 1px 4px 0 rgba(0, 0, 0, 0.05), 0 8px 16px -3px rgba(0, 0, 0, 0.08);
    --ds-shadow-custom-card: 0 6px 14px rgba(112, 144, 176, 0.12);

    --ds-color-sentiment-negative-fg: var(--ds-color-primitive-red-700);
    --ds-color-sentiment-negative-fg-hover: var(--ds-color-primitive-red-800);
    --ds-color-sentiment-negative-fg-tint: var(--ds-color-primitive-red-500);
    --ds-color-sentiment-negative-bg: var(--ds-color-primitive-red-250);
    --ds-color-sentiment-negative-bg-hover: var(--ds-color-primitive-red-400);
    --ds-color-sentiment-negative-bg-tint: var(--ds-color-primitive-red-100);
    --ds-color-sentiment-informative-defalut: var(--ds-color-primitive-blue-600);
    --ds-color-sentiment-informative-hover: var(--ds-color-primitive-blue-700);
    --ds-color-sentiment-informative-bg: var(--ds-color-primitive-blue-100);
    --ds-color-sentiment-positive-defalut: var(--ds-color-primitive-green-600);
    --ds-color-sentiment-positive-hover: var(--ds-color-primitive-green-700);
    --ds-color-sentiment-positive-bg: var(--ds-color-primitive-green-100);
    --ds-color-sentiment-warning-defalut: #D97E00;
    --ds-color-sentiment-warning-hover: #B26800;
    --ds-color-sentiment-warning-bg: #FAEFE0;
    --ds-color-templates-peach-bg: #FB608F;
    --ds-color-templates-peach-avatar: #FC6885;
    --ds-color-templates-peach-fg: #EB205E;
    --ds-color-templates-peach-fg-hover: #D3134D;
    --ds-color-templates-sunset-bg: #F28911;
    --ds-color-templates-sunset-avatar: #F38716;
    --ds-color-templates-sunset-fg: #CF4F00;
    --ds-color-templates-sunset-fg-hover: #AD4200;
    --ds-color-templates-frost-bg: #1CAED9;
    --ds-color-templates-frost-avatar: #1FADDB;
    --ds-color-templates-frost-fg: #0877DD;
    --ds-color-templates-frost-fg-hover: #065DAC;
    --ds-color-templates-lavender-bg: #8A3FFC;
    --ds-color-templates-lavender-avatar: #8946FC;
    --ds-color-templates-lavender-fg: #5F30CD;
    --ds-color-templates-lavender-fg-hover: #4D27A5;
    --ds-color-templates-marine-bg: #1F76DD;
    --ds-color-templates-marine-avatar: #277EE4;
    --ds-color-templates-marine-fg: #0962CB;
    --ds-color-templates-marine-fg-hover: #074B9C;
    --ds-color-templates-onyx-bg: #141415;
    --ds-color-templates-onyx-avatar: #222223;
    --ds-color-templates-onyx-fg: #2E2E31;
    --ds-color-templates-onyx-fg-hover: #000000;
    --ds-color-templates-bloom-bg: #FE77AD;
    --ds-color-templates-bloom-avatar: #FB6EA6;
    --ds-color-templates-bloom-fg: #AF245B;
    --ds-color-templates-bloom-fg-hover: #831B44;
    --ds-color-templates-flora-bg: #40AC50;
    --ds-color-templates-flora-avatar: #38AC51;
    --ds-color-templates-flora-fg: #0D7939;
    --ds-color-templates-flora-fg-hover: #0A612E;
}